In [1]:
# https://www.kaggle.com/competitions/titanic

import numpy as np
import pandas as pd

df = pd.read_csv("train.csv")
X_test = pd.read_csv('test.csv')

df_copy = df.copy()
df.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
542,543,0,3,"Andersson, Miss. Sigrid Elisabeth",female,11.0,4,2,347082,31.2750,NaN,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.0,0,0,349207,7.8958,NaN,S
615,616,1,2,"Herman, Miss. Alice",female,24.0,1,2,220845,65.0000,NaN,S

In [2]:
if 'PassengerId' in df.columns:
    df.drop('PassengerId', axis=1)

# Selectionne les lignes dupliquées
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [3]:
def pretty_isna(df):
    print("{:<12} {:<12} {:<10} {:<6}".format("#", "dtype", "isna", "% isna"))
    print('-------------------------------------------------')
    for column in df.columns:
        missing_values = df[column].isna().sum()
        percentage_missing = (missing_values / len(df[column])) * 100
        coltype = str(df[column].dtype)
        print("{:<12} {:<12} {:<10} {:<6f}%".format(column, coltype, missing_values, percentage_missing))

pretty_isna(df)

#            dtype        isna       % isna
-------------------------------------------------
PassengerId  int64        0          0.000000%
Survived     int64        0          0.000000%
Pclass       int64        0          0.000000%
Name         object       0          0.000000%
Sex          object       0          0.000000%
Age          float64      177        19.865320%
SibSp        int64        0          0.000000%
Parch        int64        0          0.000000%
Ticket       object       0          0.000000%
Fare         float64      0          0.000000%
Cabin        object       687        77.104377%
Embarked     object       2          0.224467%

In [4]:
pretty_isna(X_test)

#            dtype        isna       % isna
-------------------------------------------------
PassengerId  int64        0          0.000000%
Pclass       int64        0          0.000000%
Name         object       0          0.000000%
Sex          object       0          0.000000%
Age          float64      86         20.574163%
SibSp        int64        0          0.000000%
Parch        int64        0          0.000000%
Ticket       object       0          0.000000%
Fare         float64      1          0.239234%
Cabin        object       327        78.229665%
Embarked     object       0          0.000000%

In [5]:
# df['Cabin'] contient 77+% de valeurs manquantes
if 'Cabin' in df.columns:
    df = df.drop('Cabin', axis=1)


# faire pareil pour X_test
if 'Cabin' in X_test.columns:
    X_test = X_test.drop('Cabin', axis=1)

In [6]:
# df['Name'] ne va pas être utilile lors de l'apprentissage du modele ml.
if 'Name' in df.columns:
    df = df.drop('Name', axis=1)

# idem pour df['Ticket']
if 'Ticket' in df.columns:
    df = df.drop('Ticket', axis=1)


# faire pareil pour y_test
if 'Name' in X_test.columns:
    X_test = X_test.drop('Name', axis=1)
if 'Ticket' in X_test.columns:
    X_test = X_test.drop('Ticket', axis=1)

pretty_isna(df)

#            dtype        isna       % isna
-------------------------------------------------
PassengerId  int64        0          0.000000%
Survived     int64        0          0.000000%
Pclass       int64        0          0.000000%
Sex          object       0          0.000000%
Age          float64      177        19.865320%
SibSp        int64        0          0.000000%
Parch        int64        0          0.000000%
Fare         float64      0          0.000000%
Embarked     object       2          0.224467%

In [7]:
df_copy[df_copy['Embarked'].isna()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

In [8]:
# Miss Amelie Icard sounds french so she probably embarked at Cherbourg
# Martha, Evelyn and Stone sound more english than Irish (Southamphton is in England and Queenstown in Ireland)

df.loc[df['PassengerId'] == 62, 'Embarked'] = 'C'
df.loc[df['PassengerId'] == 830, 'Embarked'] = 'S'

df.Embarked.isna().sum()

0

In [9]:
pretty_isna(X_test)

#            dtype        isna       % isna
-------------------------------------------------
PassengerId  int64        0          0.000000%
Pclass       int64        0          0.000000%
Sex          object       0          0.000000%
Age          float64      86         20.574163%
SibSp        int64        0          0.000000%
Parch        int64        0          0.000000%
Fare         float64      1          0.239234%
Embarked     object       0          0.000000%

In [10]:
X_test[X_test['Fare'].isna()]

     PassengerId  Pclass   Sex   Age  SibSp  Parch  Fare Embarked
152         1044       3  male  60.5      0      0   NaN        S

In [11]:
# Calculate the mode of 'Fare' for rows where 'Pclass' is 3
fare_mode = X_test.loc[X_test['Pclass'] == 3, 'Fare'].mode()[0]

# Fill missing values in 'Fare' with the mode
X_test['Fare'].fillna(fare_mode, inplace=True)

pretty_isna(X_test)

#            dtype        isna       % isna
-------------------------------------------------
PassengerId  int64        0          0.000000%
Pclass       int64        0          0.000000%
Sex          object       0          0.000000%
Age          float64      86         20.574163%
SibSp        int64        0          0.000000%
Parch        int64        0          0.000000%
Fare         float64      0          0.000000%
Embarked     object       0          0.000000%

In [12]:
pretty_isna(df)

#            dtype        isna       % isna
-------------------------------------------------
PassengerId  int64        0          0.000000%
Survived     int64        0          0.000000%
Pclass       int64        0          0.000000%
Sex          object       0          0.000000%
Age          float64      177        19.865320%
SibSp        int64        0          0.000000%
Parch        int64        0          0.000000%
Fare         float64      0          0.000000%
Embarked     object       0          0.000000%

In [13]:
from sklearn.preprocessing import LabelEncoder

print(f"Les valeurs uniques de la colonne 'Sex': {df.Sex.unique()}")

le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])

# faire pareil pour y_test
X_test['Sex'] = le.fit_transform(X_test['Sex'])

print(f"Les valeurs uniques de la colonne 'Sex' après encodage: {df.Sex.unique()}")

Les valeurs uniques de la colonne 'Sex': ['male' 'female']
Les valeurs uniques de la colonne 'Sex' après encodage: [1 0]

In [14]:
print(f"Les valeurs uniques de la colonne 'Embarked': {df.Embarked.unique()}")

df['Embarked'] = le.fit_transform(df['Embarked'])

# faire pareil pour X_test
X_test['Embarked'] = le.fit_transform(X_test['Embarked'])

print(f"Les valeurs uniques de la colonne 'Embarked' après encodage: {df.Embarked.unique()}")

Les valeurs uniques de la colonne 'Embarked': ['S' 'C' 'Q']
Les valeurs uniques de la colonne 'Embarked' après encodage: [2 0 1]

In [15]:
sorted_df = df.sort_values(by='Fare')
sorted_df.tail()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
438,439,0,1,1,64.0,1,4,263.0000,2
341,342,1,1,0,24.0,3,2,263.0000,2
737,738,1,1,1,35.0,0,0,512.3292,0
258,259,1,1,0,35.0,0,0,512.3292,0
679,680,1,1,1,36.0,0,1,512.3292,0

In [16]:
# RandomForestRegressor pour remplir les données manquantes de df['Age']

In [17]:
from sklearn.ensemble import RandomForestRegressor

# Split the data into two sets: one with missing values and one without
age_missing = df[df['Age'].isna()]
age_not_missing = df[df['Age'].notna()]

# Create the model and fit it to the data without missing values
model = RandomForestRegressor()
model.fit(age_not_missing.drop('Age', axis=1), age_not_missing['Age'])

# Use the model to predict the missing values
df.loc[df['Age'].isna(), 'Age'] = model.predict(age_missing.drop('Age', axis=1))

In [18]:
# On fait pareil avec X_test

# Split the data into two sets: one with missing values and one without
age_missing = X_test[X_test['Age'].isna()]
age_not_missing = X_test[X_test['Age'].notna()]

# Create the model and fit it to the data without missing values
model = RandomForestRegressor()
model.fit(age_not_missing.drop('Age', axis=1), age_not_missing['Age'])

# Use the model to predict the missing values
X_test.loc[X_test['Age'].isna(), 'Age'] = model.predict(age_missing.drop('Age', axis=1))

In [19]:
pretty_isna(df)

#            dtype        isna       % isna
-------------------------------------------------
PassengerId  int64        0          0.000000%
Survived     int64        0          0.000000%
Pclass       int64        0          0.000000%
Sex          int64        0          0.000000%
Age          float64      0          0.000000%
SibSp        int64        0          0.000000%
Parch        int64        0          0.000000%
Fare         float64      0          0.000000%
Embarked     int64        0          0.000000%

In [20]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import KFold, GridSearchCV
from sklearn.metrics import precision_score, accuracy_score, f1_score
from xgboost import XGBClassifier

X = df.drop('Survived', axis=1)
y = df['Survived']

In [21]:
from sklearn.dummy import DummyClassifier

strategies = ['most_frequent', 'stratified', 'uniform']

for strategy in strategies:
    # Create a dummy classifier with the current strategy
    dummy = DummyClassifier(strategy=strategy)
    dummy.fit(X, y)
    
    # Evaluate the dummy classifier on the test data
    y_pred = dummy.predict(X)
    accuracy = accuracy_score(y, y_pred)
    print("Dummy classifier ({:<15}) accuracy: {:.3f}".format(strategy, accuracy))

Dummy classifier (most_frequent  ) accuracy: 0.616
Dummy classifier (stratified     ) accuracy: 0.561
Dummy classifier (uniform        ) accuracy: 0.508

In [22]:
# Define the models and hyperparameters to search
models = {
    'Decision Tree': {
        'model': DecisionTreeClassifier(),
        'params': {
            'criterion': ['gini', 'entropy'],
            'max_depth': [None, 2, 3, 4, 5],
            'min_samples_split': [2, 3, 5, 7],
        }
    },
    'Random Forest': {
        'model': RandomForestClassifier(),
        'params': {
            'n_estimators': [150, 160],
            'criterion': ['gini', 'entropy'],
            'max_depth': [None, 1],
            'min_samples_split': [3, 4],
            'min_samples_leaf': [1, 2],
            'max_features': ['sqrt', 'log2'],
            'bootstrap': [True, False],
        }
    },
    'SVM': {
        'model': SVC(),
        'params': {
            'kernel': ['linear', 'rbf'],
            'C': [0.1, 1],
        }
    },
    'KNN': {
        'model': KNeighborsClassifier(),
        'params': {
            'n_neighbors': [5, 6],
            'weights': ['uniform', 'distance'],
            'algorithm': ['auto', 'ball_tree'],
            'leaf_size': [5, 7],
        }
    },
    'Gradient Boosting': {
        'model': GradientBoostingClassifier(),
        'params': {
            'n_estimators': [120, 125],
            'learning_rate': [0.07, 0.08],
            'max_depth': [4, 5],
            'min_samples_split': [7, 8],
            'min_samples_leaf': [2, 3],
        }
    },
    'AdaBoost': {
        'model': AdaBoostClassifier(),
        'params': {
            'n_estimators': [15, 40],
            'learning_rate': [0.5, 1],
        }
    },
    'XGBoost': {
        'model': XGBClassifier(),
        'params': {
            'n_estimators': [40, 50],
            'learning_rate': [0.75, 0.1],
            'max_depth': [6, 7],
        }
    }
}

# Define the cross-validation strategy
cv = KFold(n_splits=5, shuffle=True, random_state=42)

# Print the header row
print("{:<20} {:<20} {:<20} {:<20} {:<20}".format("Model", "Training accuracy", "Test accuracy", "Test precision", "Test F1 score"))
print("-" * 100)
# Perform grid search for each model
for name, model in models.items():
    clf = GridSearchCV(model['model'], model['params'], cv=cv, scoring='accuracy')
    clf.fit(X, y)
    y_pred = clf.predict(X)
    print("{:<20} {:<20.3f} {:<20.3f} {:<20.3f} {:<20.3f}".format(name, clf.best_score_, accuracy_score(y, y_pred), precision_score(y, y_pred), f1_score(y, y_pred)))
    print("Best parameters: {}".format(clf.best_params_))
    print("-" * 100)

# 15m 5.4s

Model                Training accuracy    Test accuracy        Test precision       Test F1 score
----------------------------------------------------------------------------------------------------
Decision Tree        0.816                0.841                0.882                0.765
Best parameters: {'criterion': 'gini', 'max_depth': 4, 'min_samples_split': 2}
----------------------------------------------------------------------------------------------------
Random Forest        0.841                0.981                0.985                0.975
Best parameters: {'bootstrap': True, 'criterion': 'gini', 'max_depth': None, 'max_features': 'log2', 'min_samples_leaf': 1, 'min_samples_split': 4, 'n_estimators': 160}
----------------------------------------------------------------------------------------------------
SVM                  0.791                0.793                0.762                0.714
Best parameters: {'C': 1, 'kernel': 'linear'}
----------------------------------------------------------------------------------------------------
KNN                  0.658                0.744                0.813                0.565
Best parameters: {'algorithm': 'auto', 'leaf_size': 5, 'n_neighbors': 6, 'weights': 'uniform'}
----------------------------------------------------------------------------------------------------
Gradient Boosting    0.832                0.935                0.961                0.911
Best parameters: {'learning_rate': 0.07, 'max_depth': 4, 'min_samples_leaf': 3, 'min_samples_split': 8, 'n_estimators': 120}
----------------------------------------------------------------------------------------------------
AdaBoost             0.804                0.826                0.784                0.769
Best parameters: {'learning_rate': 0.5, 'n_estimators': 40}
----------------------------------------------------------------------------------------------------
XGBoost              0.832                0.925                0.948                0.897
Best parameters: {'learning_rate': 0.1, 'max_depth': 6, 'n_estimators': 50}
----------------------------------------------------------------------------------------------------

In [23]:
# Model                Training accuracy    Test accuracy        Test precision       Test F1 score       
# ----------------------------------------------------------------------------------------------------
# Random Forest        0.841                0.981                0.985                0.975               
# Best parameters: {'bootstrap': True, 'criterion': 'gini', 'max_depth': None, 'max_features': 'log2', 'min_samples_leaf': 1, 'min_samples_split': 4, 'n_estimators': 160}
# ----------------------------------------------------------------------------------------------------

In [25]:
RFC_MODEL = RandomForestClassifier(bootstrap=True, criterion='gini', max_depth=None, max_features='log2', min_samples_leaf=1, min_samples_split=4, n_estimators=160) 

# Train the model on X and y
RFC_MODEL.fit(X, y)

# Make predictions on X_test
y_pred = RFC_MODEL.predict(X_test)

# Create a DataFrame with the 'PassengerId' of X_test and 'Survived' as the predicted values
df_rfc_prediction = pd.DataFrame({'PassengerId': X_test['PassengerId'], 'Survived': y_pred})

# Save the DataFrame to a CSV file
df_rfc_prediction.to_csv('rfc_prediction.csv', index=False)

# Print the predicted values
df_rfc_prediction

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [ ]:
# Score Kaggle  -->  0.77272