In [1]:
# https://www.kaggle.com/competitions/titanic

import pandas as pd

df = pd.read_csv("train.csv")
X_test = pd.read_csv('test.csv')

df_copy = df.copy()
df.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
102,103,0,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S
705,706,0,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.0000,NaN,S
203,204,0,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.2250,NaN,C

In [2]:
if 'PassengerId' in df.columns:
    df.drop('PassengerId', axis=1)

# Selectionne les lignes dupliqu√©es
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [3]:
def pretty_isna(df):
    print("{:<12} {:<12} {:<10} {:<6}".format("#", "dtype", "isna", "% isna"))
    print('-------------------------------------------------')
    for column in df.columns:
        missing_values = df[column].isna().sum()
        percentage_missing = (missing_values / len(df[column])) * 100
        coltype = str(df[column].dtype)
        print("{:<12} {:<12} {:<10} {:.3f}%".format(column, coltype, missing_values, percentage_missing))

pretty_isna(df)

#            dtype        isna       % isna
-------------------------------------------------
PassengerId  int64        0          0.000%
Survived     int64        0          0.000%
Pclass       int64        0          0.000%
Name         object       0          0.000%
Sex          object       0          0.000%
Age          float64      177        19.865%
SibSp        int64        0          0.000%
Parch        int64        0          0.000%
Ticket       object       0          0.000%
Fare         float64      0          0.000%
Cabin        object       687        77.104%
Embarked     object       2          0.224%

In [4]:
pretty_isna(X_test)

#            dtype        isna       % isna
-------------------------------------------------
PassengerId  int64        0          0.000%
Pclass       int64        0          0.000%
Name         object       0          0.000%
Sex          object       0          0.000%
Age          float64      86         20.574%
SibSp        int64        0          0.000%
Parch        int64        0          0.000%
Ticket       object       0          0.000%
Fare         float64      1          0.239%
Cabin        object       327        78.230%
Embarked     object       0          0.000%

In [5]:
# df['Cabin'] contient 77+% de valeurs manquantes
if 'Cabin' in df.columns:
    df = df.drop('Cabin', axis=1)


# faire pareil pour X_test
if 'Cabin' in X_test.columns:
    X_test = X_test.drop('Cabin', axis=1)

In [6]:
# je doute que df['Name'] soit utile lors de l'apprentissage du modele ml.
if 'Name' in df.columns:
    df = df.drop('Name', axis=1)

# idem pour df['Ticket']
if 'Ticket' in df.columns:
    df = df.drop('Ticket', axis=1)


# pareil pour y_test
if 'Name' in X_test.columns:
    X_test = X_test.drop('Name', axis=1)
if 'Ticket' in X_test.columns:
    X_test = X_test.drop('Ticket', axis=1)

pretty_isna(df)

#            dtype        isna       % isna
-------------------------------------------------
PassengerId  int64        0          0.000%
Survived     int64        0          0.000%
Pclass       int64        0          0.000%
Sex          object       0          0.000%
Age          float64      177        19.865%
SibSp        int64        0          0.000%
Parch        int64        0          0.000%
Fare         float64      0          0.000%
Embarked     object       2          0.224%

In [7]:
df_copy[df_copy['Embarked'].isna()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

In [8]:
# 'Miss Amelie Icard' sonne fran√ßais, elle a surement empbarqu√© √† Cherbourg
# 'Martha', 'Evelyn' and 'Stone' semblent plus Anglais qu'Irlandais (Southamphton est en Angleterre et Queenstown est en Irlande)

df.loc[df['PassengerId'] == 62, 'Embarked'] = 'C'
df.loc[df['PassengerId'] == 830, 'Embarked'] = 'S'

df.Embarked.isna().sum()

0

In [9]:
pretty_isna(X_test)

#            dtype        isna       % isna
-------------------------------------------------
PassengerId  int64        0          0.000%
Pclass       int64        0          0.000%
Sex          object       0          0.000%
Age          float64      86         20.574%
SibSp        int64        0          0.000%
Parch        int64        0          0.000%
Fare         float64      1          0.239%
Embarked     object       0          0.000%

In [10]:
X_test[X_test['Fare'].isna()]

     PassengerId  Pclass   Sex   Age  SibSp  Parch  Fare Embarked
152         1044       3  male  60.5      0      0   NaN        S

In [11]:
# identifie la valeur la plus fr√©quente pour 'Fare' quand 'Pclass' ==3
fare_mode = X_test.loc[X_test['Pclass'] == 3, 'Fare'].mode()[0]

# utilise cette valeure pour remplir notre valeur manquante dans X_test['Fare']
X_test['Fare'].fillna(fare_mode, inplace=True)

pretty_isna(X_test)

#            dtype        isna       % isna
-------------------------------------------------
PassengerId  int64        0          0.000%
Pclass       int64        0          0.000%
Sex          object       0          0.000%
Age          float64      86         20.574%
SibSp        int64        0          0.000%
Parch        int64        0          0.000%
Fare         float64      0          0.000%
Embarked     object       0          0.000%

In [12]:
pretty_isna(df)

#            dtype        isna       % isna
-------------------------------------------------
PassengerId  int64        0          0.000%
Survived     int64        0          0.000%
Pclass       int64        0          0.000%
Sex          object       0          0.000%
Age          float64      177        19.865%
SibSp        int64        0          0.000%
Parch        int64        0          0.000%
Fare         float64      0          0.000%
Embarked     object       0          0.000%

In [13]:
from sklearn.preprocessing import LabelEncoder

print(f"Les valeurs uniques de la colonne 'Sex': {df.Sex.unique()}")

le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])

# pareil pour y_test
X_test['Sex'] = le.fit_transform(X_test['Sex'])

print(f"Les valeurs uniques de la colonne 'Sex' apr√®s encodage: {df.Sex.unique()}")

Les valeurs uniques de la colonne 'Sex': ['male' 'female']
Les valeurs uniques de la colonne 'Sex' apr√®s encodage: [1 0]

In [14]:
print(f"Les valeurs uniques de la colonne 'Embarked': {df.Embarked.unique()}")

df['Embarked'] = le.fit_transform(df['Embarked'])

# pareil pour X_test
X_test['Embarked'] = le.fit_transform(X_test['Embarked'])

print(f"Les valeurs uniques de la colonne 'Embarked' apr√®s encodage: {df.Embarked.unique()}")

Les valeurs uniques de la colonne 'Embarked': ['S' 'C' 'Q']
Les valeurs uniques de la colonne 'Embarked' apr√®s encodage: [2 0 1]

In [15]:
sorted_df = df.sort_values(by='Fare')
sorted_df.tail()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
438,439,0,1,1,64.0,1,4,263.0000,2
341,342,1,1,0,24.0,3,2,263.0000,2
737,738,1,1,1,35.0,0,0,512.3292,0
258,259,1,1,0,35.0,0,0,512.3292,0
679,680,1,1,1,36.0,0,1,512.3292,0

In [16]:
# RandomForestRegressor pour remplir les donn√©es manquantes des colonnes ['Age']
from sklearn.ensemble import RandomForestRegressor

# Besoin de split les data en 2 sets, un sans valeurs manquantes et un avec.
age_missing = df[df['Age'].isna()]
age_not_missing = df[df['Age'].notna()]

# On cr√©e et entraine un mod√®le RFR sur les donn√©es sans valeurs manquantes
model = RandomForestRegressor()
model.fit(age_not_missing.drop('Age', axis=1), age_not_missing['Age'])

# Puis on l'utilise pour pr√©dire les valeurs manquantes
df.loc[df['Age'].isna(), 'Age'] = model.predict(age_missing.drop('Age', axis=1))

In [17]:
# On fait pareil avec X_test

# Split data
age_missing = X_test[X_test['Age'].isna()]
age_not_missing = X_test[X_test['Age'].notna()]

# Create / fit 
model = RandomForestRegressor()
model.fit(age_not_missing.drop('Age', axis=1), age_not_missing['Age'])

# impute
X_test.loc[X_test['Age'].isna(), 'Age'] = model.predict(age_missing.drop('Age', axis=1))

In [18]:
pretty_isna(df)

#            dtype        isna       % isna
-------------------------------------------------
PassengerId  int64        0          0.000%
Survived     int64        0          0.000%
Pclass       int64        0          0.000%
Sex          int64        0          0.000%
Age          float64      0          0.000%
SibSp        int64        0          0.000%
Parch        int64        0          0.000%
Fare         float64      0          0.000%
Embarked     int64        0          0.000%

In [19]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import KFold, GridSearchCV
from sklearn.metrics import precision_score, accuracy_score, f1_score
from xgboost import XGBClassifier

X = df.drop('Survived', axis=1)
y = df['Survived']

In [20]:
# DummyClassifier pour benchmark les resultats de notre GridSearchCV
from sklearn.dummy import DummyClassifier

# 'most_frequent' pr√©dit toujours le label de la classe la plus fr√©quente dans les donn√©es d'entrainement
# 'stratified' pr√©dit toujours les labels de classe en se basant sur la distribution des labels dans les donn√©es d'entrainement
# 'uniform' pr√©dit tous les labels de mani√®re al√©atoire
strategies = ['most_frequent', 'stratified', 'uniform']

for strategy in strategies:
    dummy = DummyClassifier(strategy=strategy)
    dummy.fit(X, y)
    y_pred = dummy.predict(X)
    accuracy = accuracy_score(y, y_pred)
    print("Dummy classifier ({:<15}) accuracy: {:.3f}".format(strategy, accuracy))

Dummy classifier (most_frequent  ) accuracy: 0.616
Dummy classifier (stratified     ) accuracy: 0.532
Dummy classifier (uniform        ) accuracy: 0.531

In [21]:
# GridSearchCV
# On d√©finit les mod√®les et les param√®tres qu'on veut cross-√©valuer

models = {
    'Decision Tree': {
        'model': DecisionTreeClassifier(),
        'params': {
            'criterion': ['gini', 'entropy'],
            'max_depth': [None, 2, 3, 4, 5],
            'min_samples_split': [2, 3, 5, 7],
        }
    },
    'Random Forest': {
        'model': RandomForestClassifier(),
        'params': {
            'n_estimators': [150, 160],
            'criterion': ['gini', 'entropy'],
            'max_depth': [None, 1],
            'min_samples_split': [3, 4],
            'min_samples_leaf': [1, 2],
            'max_features': ['sqrt', 'log2'],
            'bootstrap': [True, False],
        }
    },
    'SVM': {
        'model': SVC(),
        'params': {
            'kernel': ['linear', 'rbf'],
            'C': [0.1, 1],
        }
    },
    'KNN': {
        'model': KNeighborsClassifier(),
        'params': {
            'n_neighbors': [5, 6],
            'weights': ['uniform', 'distance'],
            'algorithm': ['auto', 'ball_tree'],
            'leaf_size': [5, 7],
        }
    },
    'Gradient Boosting': {
        'model': GradientBoostingClassifier(),
        'params': {
            'n_estimators': [120, 125],
            'learning_rate': [0.07, 0.08],
            'max_depth': [4, 5],
            'min_samples_split': [7, 8],
            'min_samples_leaf': [2, 3],
        }
    },
    'AdaBoost': {
        'model': AdaBoostClassifier(),
        'params': {
            'n_estimators': [15, 40],
            'learning_rate': [0.5, 1],
        }
    },
    'XGBoost': {
        'model': XGBClassifier(),
        'params': {
            'n_estimators': [40, 50],
            'learning_rate': [0.75, 0.1],
            'max_depth': [6, 7],
        }
    }
}

# On d√©finit la strategie de validation-crois√©e
cv = KFold(n_splits=5, shuffle=True, random_state=42)

# Un peu de formatage
print("{:<20} {:<20} {:<20} {:<20} {:<20}".format("Model", "Training accuracy", "Test accuracy", "Test precision", "Test F1 score"))
print("-" * 100)
# On lance la boucle du GridSearchCV
for name, model in models.items():
    clf = GridSearchCV(model['model'], model['params'], cv=cv, scoring='accuracy')
    clf.fit(X, y)
    y_pred = clf.predict(X)
    # Encore un peu de formatage
    print("{:<20} {:<20.3f} {:<20.3f} {:<20.3f} {:<20.3f}".format(name, clf.best_score_, accuracy_score(y, y_pred), precision_score(y, y_pred), f1_score(y, y_pred)))
    print("Best parameters: {}".format(clf.best_params_))
    print("-" * 100)

# 8m 46.4s

Model                Training accuracy    Test accuracy        Test precision       Test F1 score
----------------------------------------------------------------------------------------------------
Decision Tree        0.816                0.841                0.879                0.766
Best parameters: {'criterion': 'gini', 'max_depth': 4, 'min_samples_split': 2}
----------------------------------------------------------------------------------------------------
Random Forest        0.844                0.982                0.988                0.976
Best parameters: {'bootstrap': True, 'criterion': 'entropy', 'max_depth': None, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 4, 'n_estimators': 150}
----------------------------------------------------------------------------------------------------
SVM                  0.797                0.796                0.765                0.717
Best parameters: {'C': 1, 'kernel': 'linear'}
----------------------------------------------------------------------------------------------------
KNN                  0.654                0.738                0.804                0.553
Best parameters: {'algorithm': 'auto', 'leaf_size': 5, 'n_neighbors': 6, 'weights': 'uniform'}
----------------------------------------------------------------------------------------------------
Gradient Boosting    0.836                0.975                0.988                0.967
Best parameters: {'learning_rate': 0.08, 'max_depth': 5, 'min_samples_leaf': 2, 'min_samples_split': 8, 'n_estimators': 125}
----------------------------------------------------------------------------------------------------
AdaBoost             0.802                0.827                0.794                0.767
Best parameters: {'learning_rate': 1, 'n_estimators': 15}
----------------------------------------------------------------------------------------------------
XGBoost              0.832                0.921                0.944                0.892
Best parameters: {'learning_rate': 0.1, 'max_depth': 6, 'n_estimators': 40}
----------------------------------------------------------------------------------------------------

In [22]:
# Model                Training accuracy    Test accuracy        Test precision       Test F1 score 
# ----------------------------------------------------------------------------------------------------
# Random Forest        0.841                0.997                0.997                0.996               
# Best parameters: {'bootstrap': True, 'criterion': 'gini', 'max_depth': None, 'max_features': 'log2', 'min_samples_leaf': 1, 'min_samples_split': 3, 'n_estimators': 150}
# ----------------------------------------------------------------------------------------------------
# Gradient Boosting    0.841                0.972                0.991                0.962               
# Best parameters: {'learning_rate': 0.08, 'max_depth': 5, 'min_samples_leaf': 2, 'min_samples_split': 7, 'n_estimators': 125}
# ----------------------------------------------------------------------------------------------------

In [25]:
# On choisit le mod√®le et les param√®tres qui ont le mieux perform√© sur un fold de notre dataset
RFC_MODEL = RandomForestClassifier(bootstrap=True, criterion='gini', max_depth=None, max_features='log2', min_samples_leaf=1, min_samples_split=3, n_estimators=150) 

# On entraine une nouvelle instance de ce mod√®le, cette fois √ßi, sur tout notre dataset.
RFC_MODEL.fit(X, y)

# On fait nos pr√©diction sur X_test
y_pred = RFC_MODEL.predict(X_test)

# On formate nos r√©sultats comme Kaggle demande
df_rfc_prediction = pd.DataFrame({'PassengerId': X_test['PassengerId'], 'Survived': y_pred})

# Et on enregistre en csv
df_rfc_prediction.to_csv('rfc_prediction.csv', index=False)

df_rfc_prediction
# Score Kaggle  -->  0.77272

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [26]:
GBC_MODEL = GradientBoostingClassifier(learning_rate=0.08, max_depth=5, min_samples_leaf=2, min_samples_split=7, n_estimators=125)
GBC_MODEL.fit(X, y)
y_predic = GBC_MODEL.predict(X_test)
df_gbc_prediction = pd.DataFrame({'PassengerId': X_test['PassengerId'], 'Survived': y_pred})
df_gbc_prediction.to_csv('gbc_prediction.csv', index=False)
df_gbc_prediction
# Score Kaggle  -->  0.76315

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]